# Project Proposal

## BMI relation to proportion of Gymnastics Medals in Olympic

## Introduction

## Prelimenary Results

We have first downloaded the data set from Kaggle. https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results .

Here, we load all the libraries that we might need to clean, wrangle and visualise the data.

In [7]:
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)
options(repr.matrix.max.rows = 6)

We used read_csv to load the data which was downloaded from kaggle and then uploaded into the jupyter notebook folder (and then pushed to the github repository).

In [10]:
olympic_data <- read_csv("athlete_events.csv")
head(olympic_data)

Rows: 271116 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): Name, Sex, Team, NOC, Games, Season, City, Sport, Event, Medal
dbl  (5): ID, Age, Height, Weight, Year

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

For our inferential study we are going to look at the data from the year 2000 and onwards and we are going to assess people of ages between 20 to 30. We are doing this because age and the year might play a factor in determining the proportion of poeple who won medals in olympics.

In [13]:
olympic_data_filtered <- olympic_data |> 
                        filter(Age >= 20 & Age <= 30 & Year > 1999)
head(olympic_data_filtered)

  ID Name                     Sex Age Height Weight Team    NOC Games
1  2 A Lamusi                 M   23  170    60     China   CHN 2012 Summer
2  9 Antti Sami Aalto         M   26  186    96     Finland FIN 2002 Winter
3 16 Juhamatti Tapio Aaltonen M   28  184    85     Finland FIN 2014 Winter
4 20 Kjetil Andr Aamodt       M   30  176    85     Norway  NOR 2002 Winter
5 20 Kjetil Andr Aamodt       M   30  176    85     Norway  NOR 2002 Winter
6 20 Kjetil Andr Aamodt       M   30  176    85     Norway  NOR 2002 Winter
  Year Season City           Sport         Event
1 2012 Summer London         Judo          Judo Men's Extra-Lightweight
2 2002 Winter Salt Lake City Ice Hockey    Ice Hockey Men's Ice Hockey
3 2014 Winter Sochi          Ice Hockey    Ice Hockey Men's Ice Hockey
4 2002 Winter Salt Lake City Alpine Skiing Alpine Skiing Men's Downhill
5 2002 Winter Salt Lake City Alpine Skiing Alpine Skiing Men's Super G
6 2002 Winter Salt Lake City Alpine Skiing Alpine Skiing Men's Giant Slalom
  Medal
1 NA
2 NA
3 Bronze
4 NA
5 Gold
6 NA

Since, we only want to assess the proportion of Gymnasts who won a medal in the Olympics, we are going to filter the data so we only have the Gymnastics data. Furthermore, we are only selecting the columns we require for our study.

## Methods : Plan

## References